<div class="content column">
  <article *ngFor = 'let lst of appList' [class.hidden]="isSelected">
    <div class="post-wrapper">
      <a class="post-image"><img [src]="lst.src" [URLImage]="appList.src" alt="..."></a>
      <div class="post-content">
        <a class="post-title-link" href="javascript:void(0)" (click)="onClick(lst)">
          <h2 class="post-title">{{lst.title | uppercase }}</h2>
        </a>
        <div class="post-summary-wrapper">
          <p class="post-summary">{{lst.content | ellipsis: 100 }}</p>
          <button (click)="onClick(lst)">Read more>></button>
        </div>
      </div>
    </div>
  </article>
  <div>
    <app-detail [article]="selectedPost" [select]="isSelected"></app-detail>
  </div>
  <div class="tab">
    <button (click)="changeTab(1)">Tab 1</button>
    <button (click)="changeTab(2)">Tab 2</button>
    <button (click)="changeTab(3)">Tab 3</button>
  </div>
  <div [ngSwitch]="tabIndex">
    <div *ngSwitchCase="1" class="tabcontent">
      <div>
        Tab content 1
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, rerum.
      </p>
    </div>
    <div *ngSwitchCase="2" class="tabcontent">
      <div>
        Tab content 2
      </div>
      <p>
        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
      </p>
    </div>
    <div *ngSwitchCase="3" class="tabcontent">
      <div>
        Tab content 3
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a sequi cupiditate accusantium vitae impedit eum illo voluptatem neque, nisi.
      </p>
    </div>
  </div>
</div>
