.list-employees {
  border-collapse: collapse;
  width: 100%;
}
.list-employees td, .list-employees th {
  padding: 8px;
  vertical-align: middle;
}
.list-employees tr:nth-child(even) {
  background-color: #f2f2f2;
}
.list-employees th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  border-bottom: 1px solid #e7eaec;
  box-shadow: 2px 6px 10px -4px rgba(51,51,51,.16);
}
.avatar img {
  width: 30px;
  height: 30px;
  float: left;
}
.avatar span, .avatar small {
  margin-left: 15px;
}
.avatar strong {
  font-weight: 700;
}
.blue {
  background: blue;
}
.yellow {
  background: yellow;
}
.gold {
  background: gold;
}
.violet {
  background: violet;
}
a {
  text-decoration: none;
  color: #000;
}
